#{extends 'main.html' /} #{set title:'Formulário do Servidor' /}

<body class="hold-transition register-page">

	<center><div class="register-box">
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a class="h1"><b>PORTAL NUART</b></a>
			</div>
			<div class="card-body">
				<p class="login-box-msg">Cadastro do Servidor</p>

				<form action="@{Servidores.salvar}" method="post">
					<input type="hidden" name="serv.id" value="${serv?.id}">
					<div class="input-group mb-3">
						<input id="serv-nome" class="form-control" type="text"
							name="serv.nome" value="${serv?.nome}" placeholder="Nome">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
<span class='vermelho'>#{error 'serv.nome' /}</span>
	<br/>
					<div class="input-group mb-3">
						<input id="serv-userMatric" class="form-control" type="text"
							name="serv.userMatric" value="${serv?.userMatric}"
							placeholder="Matrícula">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
					
					<span class='vermelho'>#{error 'serv.userMatric' /}</span>
	<br/>

					<div class="input-group mb-3">
						<input id="serv-setor" class="form-control" type="text"
							name="serv.setor" value="${serv?.setor}" placeholder="Setor">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>

					<div class="input-group mb-3">
						<input id="serv-cargo" class="form-control" type="text"
							name="serv.cargo" value="${serv?.cargo}" placeholder="Cargo">
						<div class="input-group-append">
							<div class="input-group-text">
								<span class="fas fa-user"></span>
							</div>
						</div>
					</div>
			<span class='vermelho'>#{error 'serv.cargo' /}</span>
			<br/>
					<button type="submit" class="btn btn-success">CADASTRAR</button>

				</form>

				<div class="social-auth-links text-center">
					<a href="@{Servidores.listar()}" class="btn btn-block btn-warning">SERVIDORES
						CADASTRADOS </a>
				</div>

				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a href="@{Application.index()}" class="btn btn-danger"> VOLTAR </a>
				</div>

			</div>

		</div>

	</center></div>

	<!-- jQuery -->
	<script src="@{'/public/AdminLTE/plugins/jquery/jquery.min.js'}"></script>
	<!-- Bootstrap 4 -->
	<script
		src="@{'/public/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js'}"></script>
	<!-- AdminLTE App -->
	<script src="@{'/public/AdminLTE/dist/js/adminlte.min.js'}"></script>
</body>
</html>



