#{extends 'main.html' /} #{set title:'ADMINISTRADORES' /}


<body class="hold-transition sidebar-mini">

	<div class="wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h1 class="card-title">
								<b>ADMINISTRADORES CADASTRADOS</b>
							</h1>

							<div class="card-tools">
								<div class="input-group input-group-sm" style="width: 150px;">
									<input type="text" name="table_search"
										class="form-control float-right" placeholder="Buscar">

									<div class="input-group-append">
										<button type="submit" class="btn btn-default">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</div>
						</div>

						<!-- /.card-header -->
						<div class="card-body table-responsive p-0">
							<table class="table table-hover text-nowrap">
								<thead>
									<tr>

										<th>Nome</th>
										<th>Matrícula</th>
										<th>Email</th>
										

									</tr>
								</thead>
								<tbody>
									#{list items:administradores, as:'adm'}
									<tr>

										<td>${adm.nome}</td>
										<td>${adm.userMatric}</td>
										<td>${adm.email}</td>
										
									
										<td class="d-grid gap-2 d-md-flex justify-content-md-end">
										<a
											href='@{Solicitacoes.listaAgendamentoUser(adm.id)}'
												class="btn btn-danger me-md-2">Agendamentos de sala</a>
											<a
											href='@{Administradores.admEditar(adm.id)}'
											class="btn btn-primary me-md-2">EDITAR</a>
											 <a
											href='@{Administradores.admRemover(adm.id)}'
											class="btn btn-danger me-md-2">REMOVER</a>
											<a
											href='@{Emprestimos.listaEmpUser(adm.id)}'
											class="btn btn-danger me-md-2">Solicitacoes</a></td>
									</tr>
								
									
									#{/list} #{else}
									<th class="btn btn-block btn-danger"><b>NENHUM ADMINISTRADOR
											CADASTRADO</b></th> #{/else}
								</tbody/>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script src="@{'/public/AdminLTE/plugins/jquery/jquery.min.js'}"></script>
	<!-- Bootstrap 4 -->
	<script
		src="@{'/public/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js'}"></script>
	<!-- AdminLTE App -->
	<script src="@{'/public/AdminLTE/dist/js/adminlte.min.js'}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="@{'/public/AdminLTE/dist/js/demo.js'}"></script>


	<div class="d-grid gap-2">
		<button>
			<a href="@{Application.index}" class="btn btn-primary">PÁGINA
				INICIAL</a><br>
		</button>
	</div>

	<button>
		<a href="@{Administradores.admForm()}" class="btn btn-info"> CADASTRAR NOVO
			ADMINISTRADOR </a>
	</button>

</body>
</html>
